*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gory{
    background-image: url("../images/gory.jpg");
    width: 100%;
    height: 50vh;
    background-size: 100% 50vh;
    
}
.gory h1{
    font-size: 100px;
    font-family: 'PT Serif', serif;
    color:rgb(70, 65, 65);
    text-shadow: 2px 2px #fa8d4e;
    text-align: center;
    padding: 100px;
}
.posty{
    background: linear-gradient(#fff4e4, wheat);
    width: 100%;
    height: 320vh;
}
.posty h5{
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding:15px;
    margin-left: 150px;
    margin-right: 150px;
}   
.posty img {
    margin: auto;
    margin-left: 35%;
}

@media all and (max-width: 1200px) {
    .gory{
        width: 100%;
        height: auto;
    }
    .posty{
        width: 100%;
        height: auto;
    }
}