.txtfoot{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #333;
    float: left;
    font-size: 35px;
    color: goldenrod;
}

.footer{
    background-image: linear-gradient(to top right, rgb(97, 97, 97), rgb(58, 51, 51));
    width: 100%;
    height: 300px;
    float: left;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kontaktfooter{
    width: 50%;
    height: 300px;
    text-align: center;
    float: left;
    text-shadow: 1px 1px lightyellow;
    letter-spacing: 2px;
}
.kontaktfooter ul{
    top: 50%;
    display: inline-block;
}
.blogfooter{
    width: 50%;
    height: 300px;
    text-align: center;
    float: right;
    text-shadow: 1px 1px lightyellow;
}
.blogfooter a{
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.blogfooter a:active{
    text-decoration: none;
}
.blogfooter a:hover{
    text-decoration: none;
}
.blogfooter ul{
    top: 50%;
}